{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi laudantium harum iusto nisi pariatur possimus illo officiis velit minus similique dolores asperiores dolor cum magni impedit rerum, autem ipsa hic fuga veritatis quis voluptatem in libero? Iure obcaecati incidunt, molestias hic soluta quod ea. Impedit aperiam animi architecto. Incidunt natus odio placeat explicabo quibusdam saepe totam, distinctio maxime voluptatibus iusto tempore rem quas? Quod atque quidem provident rem. Facere obcaecati mollitia nobis animi soluta totam sit molestias atque alias adipisci maiores, similique culpa rem nihil nemo ad cumque blanditiis architecto. Totam minus praesentium, laudantium exercitationem vel architecto. Optio, magni nesciunt?</p>
        
        <div class="text-center">
            <a class="btn btn-success" href="/signin/">
                Signin
            </a>
            <a class="btn btn-danger" href="/singup">
                Singup
            </a>
        </div>
    </section>
</main>

{% endblock %}