{% extends 'base.html' %}

{% block content %}

<main class="container">
     <div class="row"> 
             <div class="col-md-4 offset-md-4">
        <h1 class="text-primary">{{task.title}}</h1>

        {{error}}
        
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
          <div class="justify-content-between mt-3 d-flex">
                <button class="btn btn-success">
                    Actualizar
                </button>
            </form>       
                  
            <form action="{% url 'completed_task' task.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-primary      ">
                    Completed
            
                </button>
            
            </form>
            
            <form action="{% url 'delete_task' task.id %}" method="POST">
                {% csrf_token %}
                
                <button class="btn btn-danger" >
                    Delete
            
                </button>
            
            </form>
         </div>
        </div>
    </div>    
</main>
{% endblock %}
